.Cardstyle{
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
}

.Eachcardstyle{
  width: 30vw;
  margin: 20px;
  border: 2px solid black;
}

.Imagestlye{
  height: 50vh;
}

.Summary{
  display: flex;
  flex-direction: row;
}

.data{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 40px;
}

.Heading{
  align-items: center;
  justify-content: center;
}

.Booking{
  width:40vw;
  margin-left: 20px;
  margin-top: 40px;
  background-color: red;
}